
  <div class="container col-md-12 mt-0">
    <h1 class="text-center">Categories (200)</h1>
    <div class="d-flex justify-content-center h-100">
  <div class="card border-dark mb-3" style="max-width: 22rem;">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="#" class="card-link" routerLink="/sub-category">Mobiles, Computers (30)</a><br><br><br>
      <a href="#" class="card-link">TV, Applications, Electronics (30)</a><br><br><br>
      <a href="#" class="card-link">Mens Fashion (30)</a><br><br><br>
    </div>
  </div>
</div>
</div>
<table class="table table-bordered" >
  <thead class="table">
    <tr>
      <div class="form-check">
      <input class=" checkbox-main form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <div class="form-check">
        <input class="form-check-input"  type="checkbox" value="" id="flexCheckChecked" >
        </div>
      
      <td>Ipad</td>
      <td>$50</td>
    </tr>
    <tr>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
        </div>
      <td>Dell Laptop</td>
      <td>$100</td>
    </tr>

  </tbody>
</table>
</div>
